#work-stuff {
  border-style: inset;
  background-color: rgb(145, 99, 13);
  box-sizing: initial;
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  width: 85vw;
  position: relative;
  margin-bottom: 35px;
}

#work-stuff h2 {
  text-align: center;
}

h3 {
  /* text-align: center; */
  /* padding: 3%; */
  text-decoration: underline;
}

#work-stuff p {
  margin-top: 17px;
  text-align: center;
}

.card {
  position: relative;
  width: 75vw;
  padding: 5px;
  margin: auto;
  border-radius: 3px;
  box-sizing: initial;
  border-style: outset;
  border-color: black;
  box-shadow: 5px grey;
}

.card-img {
  height: 35vw;
  object-fit: cover;
  border-radius: 2px;
}

.gitHub, .deployed-link {
  color: black;
  text-decoration: none;
}

.nextBtn {
  float: right;
}