#about-me {
    background-color: rgba(252, 189, 218, 0.87);
    box-sizing: initial;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 85vw;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: inset;
    text-align: center;
}

.profile-pic {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top: 1%;
    display: block;
    border-radius: 5vw;
    max-width: 100%;
    width: 35%;
}